@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.gao-card {
    padding: 22px;
    font-family: 'Roboto';
}

.sub-heading {
    font-size: 18px;
    color: #323f4b;
}

.about {
    color: #9aa5b1;
    font-size: 12px;
}

.image-card {
    margin: 5px;
}

.video-card {
    margin: 5px;
    border-radius: 8px;
    height: 95px;
    width: 30px;
}